[core]
    editor = vim
[user]
    name = Denis Ivanov
    email = tetafro@gmail.com
[alias]
    clog = log --format='%C(dim)%h    %ad    %<(24)%an    %C(reset)%s' --date=format:'%Y-%m-%d %H:%M'
    noed = commit --amend --no-edit

