[core]
	editor = vim
	excludesfile = ~/.gitignore
	pager = less -F -X
[user]
	name = Denis Krivak
	email = tetafro@gmail.com
[alias]
	clog = log --format='%C(dim)%h    %ad    %<(24)%an    %C(reset)%s' --date=format:'%Y-%m-%d %H:%M' -5
	history = log --decorate --all --oneline --graph
	noed = commit --amend --no-edit
	remurl = remote set-url origin
	t = tag --sort=-v:refname
	v = describe --tags --abbrev=0
	s = status
	b = branch
	c = checkout
[push]
	default = simple
