[core]
	editor = vim
	excludesfile = ~/.gitignore
	pager = less -F -X
[user]
	name = Denis Ivanov
	email = tetafro@gmail.com
[alias]
	clog = log --format='%C(dim)%h    %ad    %<(24)%an    %C(reset)%s' --date=format:'%Y-%m-%d %H:%M' -5
	noed = commit --amend --no-edit
	remurl = remote set-url origin
	s = status
	b = branch
	c = checkout
	remurl = remote set-url origin
[push]
	default = simple
